@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    327 Summers Addition<br />
    Milton, West Virginia<br />
    <abbr title="Phone">P:</abbr>
    .304.982.1773
</address>