@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cutting Edge</h1>
    <p class="lead">Cutting Edge is a top of the line barber shop designed to give you the best cuts at the best prices.</p>
    <p><a href="~/Appointment/New" class="btn btn-primary btn-lg">Request an Appointment! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Forum</h2>
        <p>
            Check out what all of our satisfied customers have been saying!
        </p>
        <p><a class="btn btn-default" href="~/Home/NotFound">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Photos</h2>
        <p>We have tons of satisfied customers. Want to see some photos?</p>
        <p><a class="btn btn-default" href="~/Home/NotFound">Go to photos!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>We are always a phone call away.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>