@model CuttingEdge.Models.Appointments
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Appointment", FormMethod.Post, new { @class = "form" }))
{

    Html.RenderPartial("_AppointmentsForm");

}