@model IEnumerable <CuttingEdge.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cutting Edge Marketplace</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Title </li>
    }
</ul>
