@model CuttingEdge.Models.Product
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Add", "Products", FormMethod.Post, new { @class = "form" }))
{

    Html.RenderPartial("_ProductsForm");

}